/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* RESET */

/* GENREAL */
.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
/* GENREAL */

/* HEADER */
.HeaderNav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.HeaderNav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.jumbotron {
  background-image: url("src/assets/img/jumbotron.jpg");
  height: 45vh;
  background-size: cover;
}
/* MAIN */
main {
  background-color: black;
}

.row-product {
  display: flex;
  flex-wrap: wrap;
}

.products .col {
  width: calc(100% / 6);
  margin-bottom: 30px;
}

.products .product-card {
  height: 100%;
}

.col p {
  color: white;
}

.product-card {
  padding: 10px 22px 0 0;
}

.product-card img {
  max-width: 100%;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.load {
  display: inline-block;
  padding: 10px 60px;
  background-color: #0282f9;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #0282f9;
  cursor: pointer;
}

.current {
  display: inline-block;
  padding: 10px 60px;
  background-color: #0282f9;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #0282f9;
  position: relative;
  bottom: 20px;
  left: 0;
  cursor: pointer;
}
/* MAIN */

/* FOOTER */
/* footer top */
.footer-top {
  background-color: #0c7cec;
  height: 20vh;
}
.FooterNavTop ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 15px 0;
}
.FooterNavTop ul li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterNavTop ul li img {
  width: 40px;
}

.FooterNavTop ul li a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding-left: 10px;
}
/* footer top */

/* footer middle */
.footer-middle-container {
  background-image: url("src/assets/img/footer-bg.jpg");
  background-size: cover;
}

.footer-nav-middle {
  display: flex;
  padding: 20px 0;
  height: 40vh;
}

.footer-middle h4 {
  padding-bottom: 10px;
  padding-right: 20px;
  color: white;
  font-size: 18px;
}

.footer-middle ul {
  list-style: none;
}

.footer-middle ul li a {
  text-decoration: none;
  color: gray;
  padding-right: 20px;
  font-size: 14px;
}

.footer-middle img {
  position: relative;
  bottom: 60px;
  left: 110px;
  height: 50vh;
}
/* footer middle */

/* footer bottom */
.footer-bottom {
  background-color: #303030;
  height: 20vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-bottom-right p {
  color: #0c7cec;
}

.footer-bottom-left button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #0282f9;
  cursor: pointer;
}
/* footer bottom */
/* FOOTER */

/* HOVERS*/
.HeaderNav a:hover {
  color: #0282f9;
  transform: scale(1.25);
}
.FooterNavTop .link:hover {
  transform: scale(1.2);
}

.footer-section a:hover {
  color: white;
  transform: scale(1.1);
}
.load:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.current:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.footer-bottom-left button:hover {
  cursor: pointer;
  transform: scale(1.15);
}
/* HOVERS*/
