/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* RESET */

/* GENREAL */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* GENREAL */

/* HEADER */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.HeaderNav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.HeaderNav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
/* MAIN */
main {
  background-color: black;
  height: 15vh;
  display: flex;
  align-items: center;
}

main h1 {
  color: white;
}
/* MAIN */

/* FOOTER */
.footer-top {
  background-color: #0c7cec;
}
.FooterNavTop ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 15px 0;
}
.FooterNavTop ul li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterNavTop ul li img {
  width: 40px;
}

.FooterNavTop ul li a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding-left: 10px;
}
/* FOOTER */
