/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* RESET */

/* GENREAL */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* GENREAL */

/* HEADER */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.HeaderNav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.HeaderNav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
/* MAIN */
main {
  background-color: black;
  height: 15vh;
  display: flex;
  align-items: center;
}

main h1 {
  color: white;
}
/* MAIN */

/* FOOTER */
/* footer top */
.footer-top {
  background-color: #0c7cec;
  height: 20vh;
}
.FooterNavTop ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 15px 0;
}
.FooterNavTop ul li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterNavTop ul li img {
  width: 40px;
}

.FooterNavTop ul li a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding-left: 10px;
}
/* footer top */

/* footer middle */
.footer-middle {
  background-image: url("src/assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
}

.footer-nav-middle {
  display: flex;
  padding: 20px 0;
}

.footer-middle h4 {
  padding-bottom: 10px;
  padding-right: 20px;
  color: white;
  font-size: 18px;
}

.footer-middle ul {
  list-style: none;
}

.footer-middle ul li a {
  text-decoration: none;
  color: gray;
  padding-right: 20px;
  font-size: 14px;
}

.footer-middle img {
  position: relative;
  bottom: 75px;
  left: 20px;
}
/* footer middle */

/* footer bottom */
.footer-bottom {
  background-color: grey;
  height: 20vh;
}
/* footer bottom */
/* FOOTER */
